<!-- <div class="container">
    <form>
        <div *ngIf="steps==18">
            <div formGroupName="sclprofile18">
                <div class="row" style="margin-bottom: 20px; margin-top: 20px;">
                    <div>
                        <h6 style="text-align: center;">Scholarships Offered to the Students</h6>
                    </div>

                </div>
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th rowspan="2">Name of the Scholarship</th>
                            <th colspan="2">No. of Beneficiaries</th>
                            <th rowspan="2">By Govt</th>
                            <th rowspan="2">By Private</th>
                            <th colspan="2">Action</th>
                        </tr>
                        <tr>
                            <th>boys</th>
                            <th>girls</th>
                            <th> <i class="fa fa-plus" aria-hidden="true" (click)="addrow()" style="color:green;"></i>
                            </th>
                        </tr>

                    </thead>
                    <tbody>

                        <tr *ngFor="let data of scholarship_detail().controls; let i=index;" formGroupName="{{i}}"
                            formArrayName="scholarship">

                            <td class="col-md-2">
                                <div class="input-group">
                                    <div style="width: 40px;background-color: hwb(0 88% 9%);">
                                        <i class="fa fa-list-ul" aria-hidden="true"
                                            style="margin-left: 13px; margin-top: 10px;"></i>
                                    </div>
                                    <input type="text" formControlName="scholarship_name" class="form-control">

                                    <div style="color: red;"
                                        *ngIf="generalForm.get('scholarship_name')?.invalid && (generalForm.get('scholarship_name')?.dirty || generalForm.get('scholarship_name')?.touched) && generalForm.get('scholarship_name')?.errors?.required">
                                        required
                                    </div>
                                </div>
                            </td>
                            <td class="col-md-2">
                                <div class="input-group">
                                    <div style="width: 40px;background-color: hwb(0 88% 9%);">
                                        <i class="fa fa-list-ul" aria-hidden="true"
                                            style="margin-left: 13px; margin-top: 10px;"></i>
                                    </div>
                                    <input type="number" formControlName="boy" class="form-control">

                                    <div style="color: red;"
                                        *ngIf="generalForm.get('boy')?.invalid && (generalForm.get('boy')?.dirty || generalForm.get('boy')?.touched) && generalForm.get('boy')?.errors?.['required']">
                                        required
                                    </div>
                                </div>
                            </td>
                            <td class="col-md-2">
                                <div class="input-group">
                                    <div style="width: 40px;background-color: hwb(0 88% 9%);">
                                        <i class="fa fa-list-ul" aria-hidden="true"
                                            style="margin-left: 13px; margin-top: 10px;"></i>
                                    </div>
                                    <input type="number" formControlName="girl" class="form-control">

                                    <div style="color: red;"
                                        *ngIf="generalForm.get('girl')?.invalid && (generalForm.get('girl')?.dirty || generalForm.get('girl')?.touched) && generalForm.get('girl')?.errors?.['required']">
                                        required
                                    </div>
                                </div>
                            </td>
                            <td class="col-md-2">
                                <div class="input-group">
                                    <div style="width: 40px;background-color: hwb(0 88% 9%);">
                                        <i class="fa fa-list-ul" aria-hidden="true"
                                            style="margin-left: 13px; margin-top: 10px;"></i>
                                    </div>
                                    <select class="form-control form-select" formControlName="by_govt">
                                        <option disabled>--Select One--</option>
                                        <option selected value='yes'>Yes</option>
                                        <option value='no'>No</option>
                                    </select>

                                    <div style="color: red;"
                                        *ngIf="generalForm.get('by_govt')?.invalid && (generalForm.get('by_govt')?.dirty || generalForm.get('by_govt')?.touched) && generalForm.get('by_govt')?.errors?.['required']">
                                        required
                                    </div>
                                </div>
                            </td>
                            <td class="col-md-2">
                                <div class="input-group">
                                    <div style="width: 40px;background-color: hwb(0 88% 9%);">
                                        <i class="fa fa-list-ul" aria-hidden="true"
                                            style="margin-left: 13px; margin-top: 10px;"></i>
                                    </div>
                                    <select class="form-control form-select" formControlName="by_private">
                                        <option disabled>--Select One--</option>
                                        <option selected value='yes'>Yes</option>
                                        <option value='no'>No</option>
                                    </select>
                                    <div style="color: red;"
                                        *ngIf="generalForm.get('by_private')?.invalid && (generalForm.get('by_private')?.dirty || generalForm.get('by_private')?.touched) && generalForm.get('by_private')?.errors?.['required']">
                                        required
                                    </div>
                                </div>
                            </td>
                            <td>
                                <i class="fa fa-plus" aria-hidden="true" (click)="addrow()"
                                    style="margin-left: 50px; color:green;"></i>
                                <i class="fa fa-times" aria-hidden="true" (click)="removerow(i)"
                                    style="margin-left: 50px; color:red;"></i>
                            </td>
                        </tr>

                    </tbody>

                </table>




            </div>
        </div>



    </form>
</div> -->
